{
  "printWidth": 80,
  "overrides": [
    {
      "files": ["*.css", "*.json", ".prettierrc", "*.yml", "*.md", "*.html"],
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "semi": true,
  "trailingComma": "none",
  "tabWidth": 4
}
