.btn {
  @apply rounded-md;
  @apply text-lg font-bold font-display;

  line-height: 1;
  display: inline-grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0.75em 1em;
  transition: 0.4s;
}

.btn:hover {
  transform: scale(1.025) translateZ(1px);
}

.btn:active {
  transform: scale(0.975);
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
