.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 1.25rem;
  line-height: 3.5rem;
  font-weight: 700;
  opacity: 1;
  transition: 0.4s;

  @apply text-2xl md:text-5xl; // 3rem
}

.btn:hover {
  opacity: 0.7;
}
