.root {
  @apply flex bg-white rounded-lg;

  transition: 200ms all ease-in-out;

  &:hover {
    transform: scale(1.025) translateZ(1px);
  }
}

.socialLink {
  @apply font-medium text-lg;

  a {
    @apply block p-3;
    transition: 200ms all ease-in-out;
  }
}

.linkedin {
  &:hover {
    color: #0a66c2;
  }
}

.github {
  &:hover {
    transform: translateY(-1px);
  }
}

.instagram {
  &:hover {
    color: #e4405f;
  }
}
