.root {
  @apply flex;
}

.socialLink {
  @apply font-medium text-lg md:text-xl;

  &:not(:last-of-type) {
    @apply mr-1;
  }

  a {
    display: block;
    border-radius: 8px;
    padding: 12px;

    transition: 200ms all ease-in-out;

    &:hover {
      background: rgba(255, 255, 255, 1);
    }
  }
}

.linkedin {
  &:hover {
    color: #0a66c2;
  }
}

.github {
  &:hover > * {
    filter: blur(1px);
  }
}

.instagram {
  &:hover {
    color: #e4405f;
  }
}
