@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi/Satoshi-Black.woff2") format("woff2"),
    url("./fonts/Satoshi/Satoshi-Black.woff") format("woff"),
    url("./fonts/Satoshi/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi/Satoshi-BlackItalic.woff2") format("woff2"),
    url("./fonts/Satoshi/Satoshi-BlackItalic.woff") format("woff"),
    url("./fonts/Satoshi/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./fonts/Inter/Inter-roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("./fonts/Inter/Inter-italic.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: "League Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/LeagueMono/LeagueMonoRegular.woff") format("woff");
}

@font-face {
  font-family: "League Mono";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/LeagueMono/LeagueMonoBold.woff") format("woff");
}
