/** Prism customizations */

pre[class*="language-"] {
  @apply -ml-4 -mr-4 mb-8 rounded-none w-screen;

  @apply sm:max-w-screen-sm sm:mx-0 sm:w-auto;

  @media (min-width: 640px) {
    border-radius: 0.3em;
  }

  @apply md:max-w-screen-md;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 16px;
  font-family: "League Mono", "Fira Mono", monospace;
  background: #f5f6f9;
}

/**
 * Inline
 */
:not(pre) > code[class*="language-"] {
  padding: 0.2em 0.3em;
  border-radius: 3px;
  white-space: normal;
}

.token.comment,
.token.italic {
  font-style: normal;
}
