.footer {
  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
.donotdo {
}
.scrollTopLink {
  &:after {
    content: "⤴";
    vertical-align: top;
    margin-left: 1rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.languageSwitcher {
  @apply opacity-30;

  a {
    @apply text-white;
  }
}
