.topbar {
  transition: 0.4s ease-in-out;

  ul {
    flex-direction: row;

    li:not(:last-of-type) {
      @apply mr-4 md:mr-8;
    }
  }
}

.topbarTransparent {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.fixedHeader {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.sticky {
  composes: fixedHeader;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: saturate(180%) blur(5px);
}

.logo {
  width: 92px;
}
