.cvWrapper {
  h1,
  h2,
  h3 {
    line-height: 1;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    text-transform: uppercase;
    font-size: 15px;
  }

  h3 {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0.5em;
  }

  p {
    margin: 0 0 8px 0;
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0 0 0 24px;
  }

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }

  table.fixed {
    table-layout: fixed;
  }

  th,
  td {
    vertical-align: top;
    border: 1px solid transparent;
  }

  th {
    text-align: left;
    padding: 6px 0;
  }

  td {
    padding: 8px;
  }

  span {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }

  a {
    color: #2563eb;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  li {
    margin-bottom: 0.25em;
  }

  :global {
    .experience,
    .education {
      span {
        display: block;
        margin-bottom: 0.5em;
      }
    }

    .footer {
      display: none;
      text-align: center;
    
      @media print {
        display: table;
      }
    }
  }
}