.landing {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 120px 0;

  &::after {
    background-image: url(/media/grid.svg);
    z-index: -1;
    opacity: 0.2;
    filter: invert(1);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
  }
}

.container {
  max-width: 640px;
  z-index: 3;
}

.intro {
  margin-bottom: 48px;

  h1 {
    font-size: 32px;
    color: #171717;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 40px;
  }

  p {
    color: #6f6f6f;
    margin-top: 8px;
    font-size: 16px;
  }
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #00000090;
  background: #0000000c;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 16px;
}
