.hero {
  background: var(--color-primary);
}

.kim {
  @apply inline-block;

  & button {
    cursor: default;
  }

  .name {
    @apply sr-only md:not-sr-only;
    color: var(--color-accent);
    position: absolute;
    font-weight: 600;
    font-size: 15px;
    white-space: nowrap;
    opacity: 90%;
    transform: rotate(6deg) translate(-50px, -8px);
  }
}

.card {
  @apply shadow-sm rounded-xl border border-zinc-200;
}

.blockContent {
  @apply p-8 pb-16;
  max-width: 25rem;
}

.workSection {
  background: #f6f8fb;

  & img {
    border-radius: 8px;
  }
}

.currentSection {
  background: #f6f8fb;
}
