.section {
  @apply block;
}

.hero {
  background: var(--color-primary);
}

.kim {
  @apply inline-block;

  & button {
    cursor: default;
  }
}

.card {
  @apply shadow-sm rounded-xl border border-zinc-100;
}

.blockContent {
  @apply p-8 pb-16;
  max-width: 25rem;
}

.workSection {
  background: #f6f8fb;

  & img {
    border-radius: 8px;
  }
}

.currentSection {
  background: #f6f8fb;
}
