@layer base {
  body {
    color: #454c52;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #1a1d1f;
    @apply font-display;
  }

  h1 {
    @apply font-bold md:text-6xl;
  }

  a {
    transition: 0.15s color ease-in-out;
  }

  label {
    @apply font-display;
  }
}
