.root {
  @apply py-4  border-b border-zinc-200;

  /* transition: 0.4s ease-in-out; */

  &.headerTransparent {
    @apply border-transparent;

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    .cta {
      @apply border-zinc-900 text-white bg-zinc-900 shadow-sm;
    }
  }
}

.innerHeader {
  @apply mx-4 lg:mx-16;
  @apply flex flex-row;
}

.cta {
  @apply self-center text-sm  px-4 py-2.5 mr-3 border text-zinc-900 border-zinc-200;
}

.nav {
  @apply flex flex-row ml-8 items-center;
  @apply md:ml-16;
}

.navItem {
  a {
    transition: 0.2s ease-in;

    &:hover {
      @apply opacity-30;
    }
  }

  &:not(:last-of-type) {
    @apply mr-4 md:mr-8;
  }
}

.headerTransparent {
}

.headerLight {
  color: #fff;
}

.fixedHeader {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.sticky {
  composes: fixedHeader;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: saturate(180%) blur(5px);
}
