/*Header Layout*/

.root {
}

.innerHeader {
  @apply mx-4 p-4 lg:mx-16;
  @apply flex flex-row;
}

/* Header Elements */
.cta {
  @apply self-center text-sm  px-4 py-2.5 mr-3 border text-zinc-900 border-zinc-200;
}

.nav {
  align-self: center;
  @apply ml-8;
  @apply md:ml-16;

  ul {
    @apply flex flex-row;
  }
}

.navItem {
  a {
    transition: 0.2s ease-in;

    &:hover {
      @apply opacity-30;
    }
  }

  &:not(:last-of-type) {
    @apply mr-4 md:mr-8;
  }
}

.headerLight {
  color: hsl(0, 0%, 100%);
}

/* Header States */
.headerTransparent {
  @apply border-transparent;

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;

  .cta {
    @apply border-zinc-900 text-white bg-zinc-900 shadow-sm;
  }
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: saturate(180%) blur(5px);
  background: rgba(255, 255, 255, 0.8);

  .innerHeader {
    @apply border-b border-zinc-100;
  }
}
