/*Header Layout*/

.root {
  @apply absolute w-full top-0 left-0;
  z-index: 100;
}

.innerHeader {
  @apply border-b border-transparent mx-4 px-4 lg:mx-16;
  @apply flex flex-row;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Header Elements */
.cta {
  @apply self-center text-sm  px-4 py-2.5 mr-3 border bg-zinc-900 border-zinc-900 text-white;
}

.nav {
  align-self: center;
  @apply ml-8;
  @apply md:ml-16;

  ul {
    @apply flex flex-row;
  }
}

.navItem {
  a {
    transition: 0.2s ease-in;

    &:hover {
      @apply opacity-50;
    }
  }

  &:not(:last-of-type) {
    @apply mr-4 md:mr-8;
  }
}

.activeLink {
  @apply opacity-50;
  pointer-events: none;
  position: relative;

  &:after {
    @apply bg-zinc-900;
    display: block;
    content: "";
    top: 100%;
    width: 4px;
    height: 4px;
    margin-top: 0.5rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.headerLight {
  color: hsl(0, 0%, 100%);
}

/* Header States */

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: saturate(180%) blur(5px);
  background: rgba(255, 255, 255, 0.8);

  .innerHeader {
    @apply border-b border-zinc-200;
  }
}
