.progressContainer {
  position: fixed;
  width: 100%;
  height: 6px;
  left: 0;
  top: 0;
  z-index: 1000;
  @apply bg-sky-100;

  .progress {
    @apply bg-sky-500;
    height: 100%;
    transition: width 0.3s ease-out;
  }
}
