.cursor {
  z-index: 999;
  pointer-events: none;
}

.cursorImage {
  height: 256px;
  width: 256px;
}

.roll-appear {
  opacity: 0;
}

.roll-enter {
  transform: scale(0);
  opacity: 0;
}

.roll-enter-done {
  transform: scale(1);
  opacity: 1;
  transition: transform 200ms ease-out, opacity 200ms;
}

.roll-exit {
  transform: scale(1);
  opacity: 1;
}

.roll-exit-active {
  transform: scale(0);
  opacity: 0;
  transition: transform 200ms ease-out, opacity 200ms;
}
